footer {
  text-align: center;
  margin-top: 128px;
  
  a {
    text-decoration: none;
    color: inherit; 
    font: var(--text-md);
    color: var(--color-base-gray-500);
  }

  img{
    width: 28px;
    height: 28px;
  }

    p{
    font: var(--text-md);
    color: var(--color-base-gray-500);
  }
  
}

.contato{
  margin-bottom:48px;

  span{
    font: var(--text-subtitle);
    font-size: 24px;
    color: var(--color-purple);
    padding-bottom: 8px;
  }

  h1{
    font: var(--text-title-md);
    font-size: 29px;
    color: var(--color-base-gray-600);
    padding-bottom: 8px;
  }


}

.social{
  display: grid;
  place-items: center;
  gap: 16px;  
}

.social-button{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 20px;
  border-radius: 8px;
  background-color: var(--color-base-gray-300);
  width: 400px;
  height: 68px;
 
  span {
  display: flex;
  align-items: center;
  gap: 8px;
 }
}

.social-button:hover{
background-color:rgba(135, 142, 161, 0.349);
}