.services{
  display: flex;
  padding-top: 88px;

  max-width: 100%;
  height: 480px;
  background-color: var(--color-base-gray-100);

  span{
    font: var(--text-subtitle);
    color: var(--color-red);
    font-size: 24px;
  }

  h1 {
    font: var(--text-title-md);
    color: var(--color-base-gray-600);
  }

}