.services{
  display:block;

  padding-top: 88px;
  
  max-width: 100%;
  height: 480px;
  background-color: var(--color-base-gray-100);

  span{
    font: var(--text-subtitle);
    color: var(--color-red);
    font-size: 24px;
  }

  p {
    font: var(--text-title-md);
    color: var(--color-base-gray-600);
  }

}

.box-dev {
  display:inline-grid;
  grid-template-columns: 280px 280px 280px;

  margin-top: 56px;
  width: 888px;
  height: 155px;
  gap: 24px;

  img {
    padding-bottom: 10px;
  }
}

.box-dev span {
  font: var(--text-title-sm);
  color: var(--color-base-gray-600);
}

.box-dev p {
  font: var(--text-sm);
  color: var(--color-base-gray-500);
  padding-top: 8px;

}

.card-dev {
  display: block;
  border: 2px solid #16181D;
  border-radius: 12px;
  padding: 20px;
  text-align: start;
}


